{% extends 'athletes/baseAthlete.html.twig' %}

{% block container %}

<h2>Listado de Atletas</h2>
<div class="row row-cols-1 row-cols-md-2">
{# BUCLE para iterar por los distintos atletas que he creado en el AthleteController #}
{% for athlete in athletes %}
  <div class="col mb-4">
    <div class="card" style="width: 18rem">
      <img src="{{ athlete.img }}" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{ athlete.name }}</h5>
        <p class="card-text">{{ athlete.sport }}</p>
        {# al ser una ruta variable path recibe: el name puesto en AthleteController y entre las llaves {los argumentos variables que tiene nuestra ruta, como si fuese un JSON clave: valor} #}
        <a href="{{ path('showAthlete', {id: athlete.id}) }}" class="btn btn-primary">Más Info</a>
      </div>
    </div>
  </div>

{# CIERRE del BUCLE #}
  {% endfor %}
</div>

{# CIERRE del BLOQUE #}
{% endblock %}