{% extends 'athletes/baseAthlete.html.twig' %}

{% block container %}

{# form is a twig function - it receives as argument the form we want to paint - created inside the insertAthlete function in the return #}
{{ form(userForm) }}

{% for message in app.flashes('success') %}
<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">El usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}
